$roboto-font-path: '../fonts' !default;

@mixin roboto-font($type, $weight, $style: normal) {
    @font-face {
        font-family: 'Roboto';
        src: local('Roboto'),
             local('Roboto-#{$type}'),
             url('#{$roboto-font-path}/Roboto-#{$type}.eot'),
             url('#{$roboto-font-path}/Roboto-#{$type}.woff2') format('woff2'),
             url('#{$roboto-font-path}/Roboto-#{$type}.woff') format('woff'),
             url('#{$roboto-font-path}/Roboto-#{$type}.ttf') format('truetype');
        font-weight: $weight;
        font-style: $style;
    }
}

@mixin roboto-font-pair($type, $weight, $italic) {
    @include roboto-font($type, $weight);
    @if $italic {
        @include roboto-font(#{$type}Italic, $weight, italic);
    }
}

@include roboto-font-pair('Regular', 400, true);
@include roboto-font-pair('Medium', 500, false);
@include roboto-font-pair('Bold', 700, false);
