<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title>Movies and Series</title>
    <style type="text/css">
        /**
         * Hide when Angular is not yet loaded and initialized
         */
        [ng\:cloak],
        [ng-cloak],
        [data-ng-cloak],
        [x-ng-cloak],
        .ng-cloak,
        .x-ng-cloak {
            display: none !important;
        }
        /*.container md-grid-tile {
            transition: all 400ms ease-out 50ms;
        }*/
        .container md-grid-tile img {
            height: 100%;
            width: 100%;
        }
    </style>
    <!-- compiled css output -->
    <link href="css/styles.min.css" rel="stylesheet">
    <link href="lib/angular-material/angular-material.min.css" rel="stylesheet">
    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>
    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>
    <!-- angular material js -->
    <script src="lib/angular-material/angular-material.js"></script>
    <script src="lib/angular-aria/angular-aria.js"></script>
    <!-- your app's js -->
    <script src="app/app.module.js"></script>
    <script src="app/core/core.module.js"></script>
    <script src="app/core/core.config.js"></script>
    <script src="app/core/core.constants.js"></script>
    <script src="app/nav/nav.module.js"></script>
    <script src="app/nav/nav.controller.js"></script>
    <script src="app/movies/movie.module.js"></script>
    <script src="app/movies/movie.service.js"></script>
    <script src="app/home/home.module.js"></script>
    <script src="app/home/home.config.js"></script>
    <script src="app/home/home.controller.js"></script>
    <script src="app/home/home.directive.js"></script>
</head>
<body ng-app="app" layout="row">
    <md-sidenav class="site-sidenav md-sidenav-left md-whiteframe-z1" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')">
        <md-toolbar class="md-whiteframe-z1">
            <div class="md-toolbar-tools">
                <h2>Menu</h2>
            </div>
        </md-toolbar>
        <md-list>
            <md-list-item>
                <md-button ng-href="#/latest">Latest</md-button>
            </md-list-item>
            <md-list-item>
                <md-button ng-href="#/popular">Popular</md-button>
            </md-list-item>
            <md-list-item>
                <md-button ng-href="#/top-rated">Top Rated</md-button>
            </md-list-item>
            <md-list-item>
                <md-button ng-href="#/now-playing">Now Playing</md-button>
            </md-list-item>
            <md-list-item>
                <md-button ng-href="#/upcoming">Upcoming</md-button>
            </md-list-item>
        </md-list>
    </md-sidenav>
    <div layout="column" class="main" ng-cloak flex>
        <header ng-controller="NavController as vm">
            <md-toolbar class="md-whiteframe-z1">
                <div class="md-toolbar-tools">
                    <md-button class="md-icon-button" aria-label="More" ng-click="vm.sideNavToggle();">
                        <i class="material-icons md-24 md-light">menu</i>
                    </md-button>
                    <h1>Movies and Series</h1>
                    <span flex></span>
                    <md-menu md-position-mode="target-right target">
                        <md-button class="md-icon-button" aria-label="More" ng-click="$mdOpenMenu($event);">
                            <i class="material-icons md-24 md-light">more_vert</i>
                        </md-button>
                        <md-menu-content class="more-menu-content">
                            <md-menu-item>
                                <md-button ng-click="vm.userInfo();">User info</md-button>
                            </md-menu-item>
                            <md-menu-item>
                                <md-button ng-click="vm.logout();">Logout</md-button>
                            </md-menu-item>
                        </md-menu-content>
                    </md-menu>
                </div>
            </md-toolbar>
        </header>
        <md-content flex load-on-scroll>
            <div class="container">
                <ui-view></ui-view>
            </div>
        </md-content>
    </div>
</body>
</html>
