<section class="movies-list" layout="row" layout-wrap>
    <div ng-repeat="movie in vm.movies">
        <img ng-click="vm.displayDialog(movie.id, $event);" ng-if="movie.poster_path" ng-src="{{vm.imageDomain + movie.poster_path}}" alt="{{movie.title}}">
        <div ng-click="vm.displayDialog(movie.id, $event);" ng-if="!movie.poster_path" class="no-poster">
            <div class="data">{{movie.title}}</div>
        </div>
    </div>
</section>
<md-progress-circular ng-show="vm.loading" md-mode="indeterminate" class="md-accent"></md-progress-circular>
